/* global variables */
:root {
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
  font-family: InterBold;
  src: url(./assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
  font-family: InterExtraBold;
  src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
}

/* resets */
html {
  font-family: Inter !important;
  font-size: 10px;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1.5rem;
  color: var(--Dark-grayish-blue);
}

/* reusable classes */
.hidden {
  display: none;
}

/* ///////////////////////////////////////////// */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  opacity: 0;
  transition: 0.3s opacity ease-in-out;
}

body {
  max-width: 120rem;
  min-height: 100vh;
  margin: 0 auto 3rem;
  padding: 0 2rem;
  display: grid;
  place-content: center;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.menu-btn {
  z-index: 9;
}

/* mobile navigation */
.nav-menu {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  background: var(--Off-white);
  padding: 3rem;
  position: fixed;
  right: -70%;
  top: 0;
  z-index: 10;
  transition: 0.3s right ease-in-out;
}

/* classes used in javascript */
.slideFromRight {
  right: 0;
}

.fullOpacity {
  min-height: 100vh;
  opacity: 1;
}

.close-menu-btn {
  width: 4rem;
  margin-bottom: 7rem;
  align-self: flex-end;
}

.nav-list {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.list-item {
  list-style: none;
}

.link {
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--Very-dark-blue);
  cursor: pointer;
}

/* main content */
.wrapper {
  display: grid;
  column-gap: 3rem;
  row-gap: 5rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    'main'
    'news'
    'ranking';
}

.main-section {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-area: main;
}

.main-mobile-img,
.main-desktop-img {
  width: 100%;
}

.description {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
}

.main-section-title {
  font-family: InterExtraBold;
  font-size: 4.2rem;
  line-height: 0.95;
  color: var(--Very-dark-blue);
}

.main-text {
  margin-bottom: 2.5rem;
}

.cta {
  width: max-content;
  padding: 1.5rem 3rem;
  background: var(--Soft-red);
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--Off-white);
  transition: 0.3s background ease-in-out;
  cursor: pointer;
}

/* side news container */
.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--Very-dark-blue);
  padding: 2rem;
  grid-area: news;
}

.news-header {
  font-family: InterBold;
  font-size: 3rem;
  color: var(--Soft-orange);
}

.news-info {
  padding: 2.5rem 0;
  cursor: pointer;
}

.news-info:nth-child(3) {
  border-top: 1px solid hsla(0, 0%, 80%, 0.25);
  border-bottom: 1px solid hsla(0, 0%, 80%, 0.25);
}
.news-title {
  margin-bottom: 1rem;
  font-family: InterBold;
  font-size: 2rem;
  color: var(--Off-white);
  transition: 0.3s color ease-in-out;
}

.news-text {
  color: var(--Off-white);
  opacity: 0.7;
}

/* ranking section */
.ranking {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(33.5rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(13rem, 1fr));
  grid-area: ranking;
}

.ranked-news-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 0.5fr 1fr;
  cursor: pointer;
}

.ranked-img {
  width: 100%;
  height: 100%;
}

.ranked-info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.rank {
  font-family: InterBold;
  font-size: 3.5rem;
  color: var(--Grayish-blue);
}

.rank-title {
  font-family: InterBold;
  font-size: 2rem;
  color: var(--Very-dark-blue);
  transition: 0.3s color ease-in-out;
}

/* responsive design for tablet */
@media screen and (min-width: 600px) {
  .menu-btn,
  .close-menu-btn {
    display: none;
  }

  .nav-menu {
    width: initial;
    height: initial;
    background: initial;
    padding: 0;
    position: initial;
  }

  .nav-list {
    flex-direction: row;
    gap: 5rem;
  }

  .link {
    font-size: 1.5rem;
    color: var(--Dark-grayish-blue);
    transition: 0.3s color ease-in-out;
  }

  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'main news'
      'main news'
      'ranking ranking';
  }
}

/* responsive design for desktop */
@media screen and (min-width: 900px) {
  .link:hover {
    color: var(--Soft-red);
  }

  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'main main news'
      'main main news'
      'ranking ranking ranking';
  }

  .main-mobile-img {
    display: none;
  }

  .main-desktop-img {
    display: inline;
  }

  .description {
    flex-direction: row;
  }

  .main-section-title,
  .main-info {
    flex-basis: 50%;
  }

  .cta:hover {
    background: var(--Very-dark-blue);
  }

  .news-info:hover .news-title {
    color: var(--Soft-orange);
  }

  .ranked-news-container:hover .rank-title {
    color: var(--Soft-red);
  }
}
